<p id="notice"><%= notice %></p>

<p>
  <strong>A:</strong>
  <%= @line.a %>
</p>

<p>
  <strong>B:</strong>
  <%= @line.b %>
</p>

<p>
  <strong>C:</strong>
  <%= @line.c %>
</p>

<p>
  <strong>D:</strong>
  <%= @line.d %>
</p>

<p>
  <strong>E:</strong>
  <%= @line.e %>
</p>

<p>
  <strong>F:</strong>
  <%= @line.f %>
</p>

<p>
  <strong>G:</strong>
  <%= @line.g %>
</p>

<p>
  <strong>H:</strong>
  <%= @line.h %>
</p>

<p>
  <strong>I:</strong>
  <%= @line.i %>
</p>

<p>
  <strong>J:</strong>
  <%= @line.j %>
</p>

<p>
  <strong>K:</strong>
  <%= @line.k %>
</p>

<p>
  <strong>L:</strong>
  <%= @line.l %>
</p>

<p>
  <strong>M:</strong>
  <%= @line.m %>
</p>

<p>
  <strong>N:</strong>
  <%= @line.n %>
</p>

<p>
  <strong>O:</strong>
  <%= @line.o %>
</p>

<p>
  <strong>P:</strong>
  <%= @line.p %>
</p>

<p>
  <strong>Q:</strong>
  <%= @line.q %>
</p>

<p>
  <strong>R:</strong>
  <%= @line.r %>
</p>

<p>
  <strong>S:</strong>
  <%= @line.s %>
</p>

<p>
  <strong>T:</strong>
  <%= @line.t %>
</p>

<p>
  <strong>U:</strong>
  <%= @line.u %>
</p>

<p>
  <strong>V:</strong>
  <%= @line.v %>
</p>

<p>
  <strong>W:</strong>
  <%= @line.w %>
</p>

<p>
  <strong>X:</strong>
  <%= @line.x %>
</p>

<p>
  <strong>Y:</strong>
  <%= @line.y %>
</p>

<p>
  <strong>Z:</strong>
  <%= @line.z %>
</p>

<%= link_to 'Edit', edit_line_path(@line) %> |
<%= link_to 'Back', lines_path %>
